@model News.Models.Article

@{
    ViewData["Title"] = "Index";
}



<section class="row w-100 justify-content-center">
    <div class="row w-75">
        <div class="col-4"></div>
        <div class="col-8">
            <div class="row flex-column">
                <h1 class="text-center">@Model.Title</h1>
                <div class="column">
                    <p class="text-justify text-wrap text-break font-italic" style="font-size: 13px">Date of publication: @Model.DateOfPublication</p>
                </div>
                <div class="column">
                    @{ var photoPath = $"/img/{Model.PhotoName}.jpg";}
                    <img src="@photoPath" alt="Article image" />
                </div>
                <div class="column my-5">
                    <p class="text-justify text-wrap text-break">@Model.Content</p>
                </div>
                <div class="column">
                    <div class="row m-0 flex-column">
                        @{var commentsCount = Model.Comments == null ? 0 : @Model.Comments.Count;}
                        <h4 class="text-center">Have @commentsCount comments</h4>
                        <div class="column">
                            <form action="/" method="get">
                                <textarea name="comment" class="w-100" style="height: 200px" maxlength="500"></textarea>
                                <input type="submit">
                            </form>
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>
</section>












@*<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfCreation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfPublication)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPublish)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhotoName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubTopic)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfCreation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfPublication)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPublish)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhotoName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddedBy.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubTopic.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@
