@model IEnumerable<News.Models.Topic>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="row">
    <div class="col-4">
        <div class="row flex-column">
            @foreach (var topic in Model)
            {
            <div class="column m-3">
                <a href="#">@Html.DisplayFor(modelItem => topic.Value)</a>
                @foreach (var subTopic in topic.SubTopics)
                {
                    <div class="column m-1">
                        <a href="#">@Html.DisplayFor(modelItem => subTopic.Value)</a>
                    </div>
                }
            </div>
            }
        </div>
    </div>
    <div class="col-8"></div>
</div>
@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @foreach (var subTopic in item.SubTopics)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => subTopic.Value)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>*@
